/* html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  color: var(--white-color);
  height: 100vh;
  background-color: #fafafa;
} */
/* body {
  height: 100vh;
 
}  */
.lead {
  font-size: 1.5rem;
  font-weight: 300;
}
/* .container {
  margin: 150px auto;
  max-width: 960px;
  color: #000;
} */
.side-bar {
  padding: 2.1rem 1.2rem;
  transition: all 0.5s ease;
  top: 0;
  width: 19%;
  bottom: 0;
  position: relative;
  border-radius: 10px;
  left: 20px;
  background-color: #fff;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.side-bar.collapsed {
  width: 50px;
  background-color: #fff;
}

.logo-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.toggle-button {
  width: 40px;
  /* Adjust button width */
  height: 40px;
  /* Adjust button height */
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.toggle-button.collapsed {
  width: 40px;
  /* Adjust button width */
  height: 40px;
  /* Adjust button height */
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: -3rem;
  margin-top: -9rem;
}

/*  */
.toggle-icon {
  color: #333;
  /* Adjust icon color */
}
.filter-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  transform: rotate(0deg);
  white-space: nowrap;
  transition: transform 0.3s ease;
  font-size: 20px;
  font-weight: 600;
}
.filter-text.collapsed {
  margin-left: -31px;
  transform: rotate(-90deg);
  /* Reset rotation when collapsed */
  margin-top: 8rem;
}
.logo-name {
  display: flex;
  align-items: center;
}
.logo-name__name {
  margin-left: 0.9rem;
  white-space: nowrap;
}
.logo-name__button {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.8rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-color);
  transition: transform 0.3s ease;
}

.logo-name__button.rotated {
  transform: translateY(-50%) rotate(180deg);
}

.logo-name__icon {
  font-size: 1.8rem;
  color: var(--grey-color);
}

form.form-inline {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 0 6px;
}

.form-inline .form-control {
  background: transparent !important;
  font-size: 12px;
  border: none;
}

.filter-dropdown button,
.filter-dropdown .btn.show {
  background: transparent;
  color: #434343;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  width: 100%;
  padding: 7px;
}
.filter-dropdown button {
 text-align: left;
}

.filter-dropdown button:hover {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.filter-dropdown button:active {
  background: transparent !important;
  border: 1px solid black !important;
  color: black !important;
}

.filter-dropdown.show.dropdown {
  width: 100%;
}

.form-dropdown {
  margin: 10px;
  font-size: 13px;
}

.form-check {
  margin: 15px 0;
}

.dropdown-menu {
  --bs-dropdown-min-width: 100%;
}

button.search-btn-icon {
  width: auto;
}
.sidebar-sec-heading {
  font-size: 20px;
  font-weight: 600;
}
.search-btn-icon {
  border: none !important;
}

@media screen and (max-width:768px) {
  .filter-table-content{
    width: 91% !important;
    margin: 20px;
  }
  .filter-header {
    display: block;
}
.filter-head-side {
    margin-top: 20px;
    justify-content: space-between;
}
}